@import url('elements.less');

@blue: #121a63;
@blueLight: #00a2de;

body {
	font-weight: 400;
}

.box-servicos {
	&:nth-child(odd) {
		border-right: 1px solid #f1f1f1;
	}
	h4 {
		font-size: 24px;
		font-weight: 400;
		line-height: normal;
		text-align: center;
		color: @blue;
	}
	.icone {
		margin-bottom: 30px;
	}
}

.newsletter {
	background: #fafafa;
	.shard-callout_box_title {
		font-size: 30px;
		color: @blue;
		font-weight: 400;
		margin-bottom: 10px;
	}
	strong {
		color: @blue;
	}
	.icon {
		float: left;
		margin-right: 30px;
	}
}

.shard-button {
	background: transparent;
}

.shard-button_blue_light {
	border: 1px solid #00a2de;
	background: #00a2de;
	color: white;
}

.widget {
	h4 {
		font-weight: 400;
		color: @blue;
		font-size: 20px;
	}
}

.contact_info_widget {
	strong {
		color: @blue;
		font-weight: 900 !important;
	}
}

#title_breadcrumbs_bar {
	background: url('../images/bg-top.jpg') center center no-repeat;
	background-size: cover;
}

.img-top {
	padding: 0 !important;
}

.shard_container {
	h3 {
		color: @blue;
		font-weight: 700;
		font-size: 35px;
	}
}

ul {
	list-style: none;
	li {
		margin-bottom: 20px;
		position: relative;
		&:before {
			content: "";
			width: 7px;
			height: 7px;
			background: @blueLight;
			display: block;
			left: -20px;
			top: 8px;
			position: absolute;
			.rounded(50%);
		}
	}
}

.box-equipe {
	width: 33.3%;
	float: left;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 50px;
	text-align: center;
	height: 430px;
	@media(max-width:1200px){
		height: 390px;
	}
	@media(max-width:991px){
		height: 330px;
	}
	@media(max-width:767px){
		width: 100%;
		height: auto;
		padding-bottom: 40px;
	}
	img {
		border-bottom: 3px solid @blueLight;
	}
	&:nth-child(odd) {
		img {
			border-bottom: 3px solid @blue;
		}
	}
	h4 {
		font-size: 25px;
		margin: 20px 0;
		color: @blue;
		text-align: center;
		@media(max-width:991px){
			font-size: 20px;
		}
	}
}

.box-servico {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	a {
		img {
			width: 100%;
			height: auto;
			.transition(30s);
		}
		.shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: url('../images/shadow-servico.png') center bottom repeat-x;
		}
		h4 {
			position: absolute;
			left: 0;
			bottom: 0;
			color: white;
			margin: 0;
			text-align: center;
			width: 100%;
			padding: 20px;
			font-size: 25px;
			.transition();
			@media(max-width:991px){
				font-size: 18px;
			}
			@media(max-width:767px){
				font-size: 25px;
			}
		}
		&:hover {
			img {
				.scale(2);
			}
			h4 {
				padding-bottom: 25px;
			}
		}
	}
}

.contratar {
	background: @blue;
	color: white;
	.shard-callout_box_title {
		color: white;
		font-size: 26px;
		margin: 0;
	}
	p {
		color: white;
		font-size: 26px;
		font-weight: 300;
		margin: 0;
	}
	.shard-button_blue_light {
		background: transparent;
	}
}

.content-servico {
	border-bottom: 1px solid #ececec;
	padding-bottom: 20px;
	ul {
		li {
			padding-left: 5px;
			&:before {
				background: url('../images/item-list.png');
				background-color: transparent;
				width: 16px;
				height: 16px;
				top: 4px;
			}
		}
	}
}
.share {
	margin: 30px 0;
	button {
		font-size: 12px;
		text-transform: uppercase;
		color: white;
		padding: 5px 20px;
		.rounded(3px);
		margin-right: 5px;
		.transition();
		height: auto;
		&.btn-facebook {
			background: @blue;
			border: 2px solid @blue;
			&:hover {
				background: white;
				color: @blue;
			}
		}
		&.btn-twitter {
			background: @blueLight;
			border: 2px solid @blueLight;
			&:hover {
				background: white;
				color: @blueLight;
			}
		}
	}
}

.outros-servicos {
	background: url('../images/bg-servicos.jpg') center center no-repeat;
	background-size: cover;
	padding: 30px;
	.owl-stage-outer {
		padding: 40px 0 60px 0;
	}
	.owl-nav {
		text-align: center;
		margin-top: -50px;
		position: relative;
		z-index: 9;
		.owl-prev,
		.owl-next {
			display: inline-block;
			font-size: 30px;
			font-weight: 300;
			padding: 10px;
			&:hover {
				color: @blueLight;
			}
		}
	}
	.title {
		text-align: center;
		margin: 0;
		font-size: 30px;
		color: #96979b;
		font-weight: 400;
		strong {
			color: @blue;
			font-weight: 900;
		}
	}
	.item-servico {
		position: relative;
		a {
			.drop-shadow(0, 0, 0, 0);
			.transition();
			position: relative;
			z-index: 1;
			display: block;
			.shadow {
				width: 100%;
				height: 100%;
				background: url('../images/shadow-servico.png') center bottom repeat-x;
				left: 0;
				top: 0;
				position: absolute;
			}
			.content {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				text-align: center;
				h4 {
					font-size: 22px;
					color: white;
					text-align: center;
					padding: 0 30px;
				}
				.shard-button {
					margin: 0 0 30px 0;
					font-size: 14px;
					padding: 10px 30px;
					text-transform: uppercase;
					border: 1px solid white;
					font-weight: 700;
					&:after {
						display: none;
					}
					.icon-arrow-right2 {
						font-size: 10px;
					}
				}
			}
			&:hover {
				.drop-shadow(0, 0, 50px, 0.5);
				z-index: 2;
				.content {
					.shard-button {
						background: @blueLight;
						border: 1px solid @blueLight;
					}
				}
			}
		}
	}
}

.box-parceiro {
	width: 33.3%;
	height: 300px;
	float: left;
	border: 1px solid #ececec;
	background: #f4f4f4;
	text-align: center;
	margin-left: -1px;
	margin-top: -1px;
	.img {
		width: 10%;
		height: 300px;
		display: table-cell;
		vertical-align: middle;
		float: none;
		img {
			display: inline-block;
		}
	}
}

.pagination {
	border-top: 1px solid #ececec;
	padding-top: 30px;
}

.box-depoimento {
	height: 260px;
	margin-bottom: 50px;
	border-bottom: 1px solid #f1f1f1;
	@media(max-width:767px){
		height: auto;
		padding-bottom: 40px;
	}
	.box {
		background: #fafafa;
		padding: 30px;
		padding-left: 80px;
		position: relative;
		.drop-shadow(0, 1px, 2px, 0.1);
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 30px;
			width: 45px;
			height: 45px;
			background: url('../images/aspas.jpg');
		}
		&:after {
			content: "";
			width: 25px;
			height: 23px;
			background: url('../images/seta-balao.png');
			position: absolute;
			left: 30px;
			bottom: -23px;
		}
		p {
			margin: 0;
			height: 100px;
			width: 10%;
			vertical-align: middle;
			display: table-cell;
		}
	}
	h5 {
		color: #303030;
		font-weight: 900;
		margin-top: 30px;
	}
}

.noborder {
	border: 0;
}